---
    import ModeSwitcherBtn from './ModeSwitcherBtn.svelte'
    import SearchBtn from './SearchBtn.svelte'
    const NAV_ITEMS = [
        {
            path: '/guides',
            title: 'Guides'
        },
        {
            path: '/about',
            title: 'About'
        },
    ]

    type Props = {
        useBaseColors?: boolean
    }

    const { useBaseColors = false } = Astro.props
---

<header class="header sticky">
    <div class="header__logo">
        <a class="" href="/"
        >
        <button title="Ilm - Stay Curious!" class="font-display text-lg dark:text-gray-50 px-2 py-1 shadow-inner flex items-center">
            <strong class=" font-black">ilm</strong>&nbsp;<span class="inline-block w-2 h-2 bg-primary dark:bg-dark-primary rounded-full"></span>&nbsp;aalam
        </button>
        </a>
    </div>
    <div class="header__meta w-full flex justify-between content-end">
        <h3 class="header__title">
            <!-- <a href="">{ SITE.name }</a> -->
        </h3>
        <div class="header__meta-more">
            <nav class="header__nav flex">
                <ul class="header__ref-list">
                    {
                        NAV_ITEMS.map(navItem => 
                            <li 
                                class="nav-item"
                                class:list={[
                                    navItem.path === Astro.url.pathname ? 'nav-item--active' : '',
                                    useBaseColors ? 'nav-item--plain' : 'nav-item--themed'
                                ]} >
                                <a href={navItem.path} title={navItem.title}>{navItem.title}</a>
                            </li>
                        )
                    }
                    <!-- <li>
                        <SearchBtn client:visible />
                    </li> -->
                    <li class="nav-item">
                        <ModeSwitcherBtn client:visible />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex gap-4 py-3 /* border-gray-200 dark:border-gray-700 - check styles/global.css */
    }
    .nav-item {
        @apply uppercase font-thin py-1 sm:p-4;
    }
    .nav-item--themed {
        @apply  text-primary dark:text-dark-primary hover:text-gray-800 dark:hover:text-gray-100;
    }
    .nav-item--plain {
        @apply text-gray-100 hover:text-dark-secondary;
    }
    .nav-item--active {
        @apply font-bold underline underline-offset-4;
    }
    .header__ref-list {
        @apply flex;
    }
</style>
