---
import BaseLayout from './BaseLayout.astro';
import Header from './core/Header.svelte';
import Footer from './core/Footer.astro';
import Portal from './Portal.astro';
import SearchModal from './SearchModal.svelte'

---
<BaseLayout>
    <br class="my-4"/>
    <Header client:load/>
    <div class="content pt-16 md:pt-48">
        <slot />
    </div>
    <Footer/>
    <Portal>
            <SearchModal client:load/>
    </Portal>
</BaseLayout>

<style>
    .content {
        min-height: 580px
    }
</style>
